{% extends 'inicio/inicio.html' %}

{% block section %}

 <div class="header">
            <h1></i>Horarios</h1>
            <!-- Botón para crear nuevo horario -->
            <a href="{% url 'horario:horario_crear' %}">
                <button class="btn btn-crear">
                    <i class="fas fa-plus"></i> Agregar
                </button>
            </a>
        </div>

<!-- Tabla de asistencias -->
<div class="table-responsive">
    <table class="table table-striped">
       <thead class="table-dark">
            <tr>
                <th style="text-align: center;">materia y año</th>
                <th style="text-align: center;">Dia semana</th>
                <th style="text-align: center;">Hora inicio</th>
                <th style="text-align: center;">Hora fin</th>
                <th style="text-align: center;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for a in horarios %}
            <tr>
                <td style="text-align: center;">{{ a.materia }}</td>
                <td style="text-align: center;">{{ a.dia_semana }}</td>
                <td style="text-align: center;">{{ a.hora_inicio|time:"H:i" }}</td>
                <td style="text-align: center;">{{ a.hora_fin|time:"H:i" }}</td>
                 <td style="text-align: center;">
                            <div class="actions">
                                <!-- Botón Actualizar -->
                                <a href="{% url 'horario:horario_actualizar' a.id %}">
                                    <button class="btn btn-actualizar" title="Editar">
                                        <i class="fas fa-edit"></i> 
                                    </button>
                                </a>
                                <!-- Botón Eliminar -->
                                <a href="{% url 'horario:horario_eliminar' a.id %}">
                                    <button class="btn btn-eliminar" title="Eliminar">
                                        <i class="fas fa-trash"></i> 
                                    </button>
                                </a>
                            </div>
                        </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7" class="text-center">No hay horarios registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock section %}