<h1>Lista de Docentes</h1>
<ul>
    {% for docente in docentes %}
    <li>{{ docente.nombre }}</li>
    {% empty %}
    <li>No hay docentes disponibles.</li>
    {% endfor %}
</ul>

<h1>PROFESORES</h1>


<form>
    <label for="ID-doc">ID</label>
    <ul></ul>
    <label for="nombre-doc">Nombre</label>
    <ul></ul>
    <label for="materia-doc">Materia</label>
    <ul></ul>
    <label for="fecha">Fecha</label>
    <ul></ul>

    <select name="opciones " id="">
        <option value="software">softwares</option>
        <option value="Biologia">Biologia</option>
        <option value="psicologo">psicologo</option>
    </select>

</form>

<style>
    *{
        color: black;
    }

    label{
        border-color: black;
        border-style: double;
    }
</style>













#crear
<form>
    <label for="ID">ID</label>
    <input type="text">
    <label for="nombre">Nombre</label>
    <input type="text">
    <label for="doc-materia">Materia</label>
    <input type="text">
    <label for="horario">horario</label>
    <input type="date">

</form>





<div class="Botones">
    <form action="eliminar.html">
        <button>Eliminar</button>
    </form>
    <form action="crear.html">
        <button>Crear</button>
    </form>
    <form action="actualizar.html">
        <button>Actualizar</button>
    </form>
</div>