{% extends 'inicio/inicio.html' %}

{% block section %}
<html><head>
    <title>Eliminar estudiante</title>
<style type="text/css" id="operaUserStyle"></style><style type="text/css"></style></head>
<body>
    <h1>¿Estás seguro de que querés eliminar "Alesi"?</h1>
    <form method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="mhrw9fCRuUMolYkRvR2NBwGIdDafai7ukTeSbYR6Dn0fkIt9aEeZFmkBnVcUMm2R">
        <button type="submit">Sí, eliminar</button>
        <a href="/estudiante/leer/">Cancelar</a>
    </form>


</body></html>
{% endblock section %}
